# Use CR LF line endings in these text files:
*.c text eol=crlf
*.C text eol=crlf
*.h text eol=crlf
*.H text eol=crlf
*.prj text eol=crlf
*.cws text eol=crlf
*.md text eol=crlf
*.txt text eol=crlf


# These files are binary:
*.ico binary
*.uir binary

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
